---
layout: layout.liquid
title: 11ty Boilerplate
---

<h1>Planetary <strong>Playing Cards</strong></h1>

<section class="main">
    <section class="star">
        <div class="sun"></div>
        <h2>Sun</h2>
        <p>Type G2V</p>
    </section>

    <section class="planets">
        <section class="mercury">
            <div class="mercury-circle"></div>
            <h2>Mercury</h2>
            <p>AU Distance</p>
        </section>

        <section class="venus">
            <div class="venus-circle"></div>
            <h2>Venus</h2>
            <p>AU Distance</p>
        </section>


        <section class="earth">
            <div class="earth-circle"></div>
            <h2>Earth</h2>
            <p>AU Distance</p>
        </section>


        <section class="mars">
            <div class="mars-circle"></div>
            <h2>Mars</h2>
            <p>AU Distance</p>
        </section>

        <section class="jupiter">
            <div class="jupiter-circle"></div>
            <h2>Jupiter</h2>
            <p>AU Distance</p>            
        </section>

        <section class="saturn">
            <div class="saturn-circle"></div>
            <h2>Saturn</h2>
            <p>AU Distance</p>           
        </section>

        <section class="uranus">
            <div class="uranus-circle"></div>
            <h2>Uranus</h2>
            <p>AU Distance</p>
        </section>

        <section class="neptune">
            <div class="neptune-circle"></div>
            <h2>Neptune</h2>
            <p>AU Distance</p>
        </section>
    </section>
</section>

