---
layout: layout.liquid
title: 11ty Boilerplate
---

<h1>Planetary <strong>Playing Cards</strong></h1>

<section>
    <h2>Sun</h2>
    <p>Type G2V</p>
</section>

<section class="planets">
    <section class="top-half">
        <h2>Mercury</h2>
        <p>AU Distance</p>

        <h2>Venus</h2>
        <p>AU Distance</p>

        <h2>Earth</h2>
        <p>AU Distance</p>

        <h2>Mars</h2>
        <p>AU Distance</p>
    </section>
    

    <section class="bottom-half">
        <h2>Jupiter</h2>
        <p>AU Distance</p>

        <h2>Saturn</h2>
        <p>AU Distance</p>

        <h2>Uranus</h2>
        <p>AU Distance</p>

        <h2>Neptune</h2>
        <p>AU Distance</p>
    </section>
</section>
