:root{
    --sun: #eb6405;
    --mercury: #edcfa1;
    --venus: #8a6329;
    --earth: green;
    --mars: red;

    --juipter: #b04f05;
    --saturn: #ffb05c;
    --uranus: #382796;
    --neptune: blue;
}



body {
    font-family: Helvetica, sans-serif;
    color: #EAE8FF;
    background: #2D3142;
    padding: 0 40px;
}

nav {
    margin: 40px auto 0 auto;
    width: 250px;
    border-radius: 50px;
    background: #212431;
}


h1 {
    font-size: 5em;
    letter-spacing: -2px;
}

h1 strong {
    background: rgb(34,193,195);
    background: linear-gradient(45deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

img.about {
    opacity: 0.5;
}

.sun{
    width: 75px;
    height: 75px;
    background-color: var(--sun);
    border-radius: 50%;
}

.mercury-circle{
    width: 55px;
    height: 55px;
    background-color: var(--mercury);
    border-radius: 50%;
}

.venus-circle{
    width: 55px;
    height: 55px;
    background-color: var(--venus);
    border-radius: 50%;
}

.earth-circle{
    width: 55px;
    height: 55px;
    background-color: var(--earth);
    border-radius: 50%;
}

.mars-circle{
    width: 55px;
    height: 55px;
    background-color: var(--mars);
    border-radius: 50%;
}

.jupiter-circle{
    width: 55px;
    height: 55px;
    background-color: var(--juipter);
    border-radius: 50%;
}

.saturn-circle{
    width: 55px;
    height: 55px;
    background-color: var(--saturn);
    border-radius: 50%;
}

.uranus-circle{
    width: 55px;
    height: 55px;
    background-color: var(--uranus);
    border-radius: 50%;
}

.neptune-circle{
    width: 55px;
    height: 55px;
    background-color: var(--neptune);
    border-radius: 50%;
}
