:root{
    --sun: #eb6405;
    --mercury: #edcfa1;
    --venus: #8a6329;
    --earth: green;
    --mars: red;
    --jupiter: #b04f05;
    --saturn: #ffb05c;
    --uranus: #382796;
    --neptune: blue;
    --background: black;
    --card: #d9d9d9;
    --hover: #00ffa6;
}


body {
    font-family: Helvetica, sans-serif;
    color: var(--neptune);
    background: var(--background);
    padding: 0 40px;
    justify-content: center;
    align-items: center;

}


h1 {
    font-size: 5em;
    letter-spacing: -2px;
}

h1 strong {
    background: rgb(34,193,195);
    background: linear-gradient(45deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sun {
    width: 200px;
    height: 200px;
    background-color: var(--sun);
    border-radius: 50%;
    justify-self: center;
}


.mercury-circle, .venus-circle, .earth-circle, .mars-circle, .jupiter-circle, .saturn-circle, .uranus-circle, .neptune-circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.mercury-circle { background-color: var(--mercury); }
.venus-circle { background-color: var(--venus); }
.earth-circle { background-color: var(--earth); }
.mars-circle { background-color: var(--mars); }
.jupiter-circle { background-color: var(--jupiter); }
.saturn-circle { background-color: var(--saturn); }
.uranus-circle { background-color: var(--uranus); }
.neptune-circle { background-color: var(--neptune); }

.main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
    align-items: center;
    color: #fff;
    gap: 20px;
}

.planets {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px; 
    justify-items: center;
}


.star, .mercury, .venus, .earth, .mars, .jupiter, .saturn, .uranus, .neptune {
    text-align: center;
    background-color: var(--card);
    padding: 40px;
    border-radius: 7%;
    color: var(--background);
}

.main:hover {
    background-color: black;
}

.star:hover, .mercury:hover, .venus:hover, .earth:hover, .mars:hover, .jupiter:hover, .saturn:hover, .uranus:hover, .neptune:hover {
    background-color: var(--hover);
    transform: scale(1.1);
}